{
    "jsc": {
        "minify": {
            "compress": {
                "unused": true
            },
            "mangle": true
        },
        "parser": {
            "syntax": "typescript",
            "decorators": false
        },
        "target": "es2020",
        "baseUrl": "./src",
        "paths": {
          "#/extensions/*": [
            "./lib/extensions/*"
          ],
          "#/typings/*": [
              "./lib/typings/*"
          ]
        }
    },
    "module": {
        "type": "commonjs"
    }
}
